*, *::before, *::after {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: #fcfcfc;
  color: #a0a4a8;
  padding: 2rem;
  font-family: sans-serif;
}

h1, h2 {
  color: #454f56;
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  transition: .5s;
}

.card img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}

.card div h2 {
  margin-bottom: 1rem;
}

.card div span {
  display: block;
  margin-bottom: 1rem;
}

.card div span:last-child {
  margin-bottom: 0;
}

.card:hover {
  background-color: #fcfcfc;
  border: 1px solid #fff;
  box-shadow: -1px 2px 25px -2px rgba(0, 0, 0, 0.5);
}

.overlay {
  display: none;
}
