@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: $background;
  color: #a0a4a8;
  padding: $unit;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $unit;
}

#searchbar {
  padding: 0 $unit;
}

h1,h2 {
  color: $headings;
  font-size: 1rem;
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $unit;
}

.card {
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 5px;
  padding: $unit/2;
  display: flex;
  align-items: center;
  transition: .5s;

  img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: $unit/2;
  }

  div {
    h2 {
      margin-bottom: $unit/2;
    }

    span {
      display: block;
      margin-bottom: $unit/2;
      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  &:hover {
    background-color: $background;
    border: 1px solid #fff;
    box-shadow: -1px 2px 25px -2px rgba(0,0,0,0.5);

  }

}

.modal-box {
  position: absolute;
  top:0;
  left:0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  opacity:0;
  transform: translate3d(100%,0,0);
  transition: transform 0s, opacity .5s .1s;
  // knock it out of the way initially.
}

.modal-box-on {
  opacity:1;
  transform: translate3d(0,0,0);
}

.overlay {
  background-color: #000;
  position: absolute;
  top:0;
  left:0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  opacity: .5;

}

.modal {
  @extend .card;

  padding: $unit;
  flex-direction: column;
  width: 50%;
  z-index: 1;
  position: relative;
  padding-bottom: $unit*2;

  img {
    margin: $unit 0;
  }

  div {
    text-align: center;
    width: 100%;
  }

  .adtl {
    margin-top: $unit;
    padding-top: $unit;
    border-top: 1px solid currentColor;
  }

  .abs {
    position: absolute;
    z-index: 1;
    transition: .5s;

    i:before {
      font-size: 1.5rem;
    }

    &:hover {
      color: $headings;
    }
  }

  .close {
    top: $unit;
  }

  .close, .next {
    right: $unit;
  }

  .prev, .next {
    bottom: $unit;
  }

  .prev {
    left: $unit;
  }



}
